$reactBgColor: #282c34;
$reactBgColorLight: #8f98ac;
$backgroundColor1: #35486d;

$textMuted: #e4e1e1;
$smallColor: #696969;

$gray: #9e9e9e;
$whiteText: #ffffff;
$black: #000000;
$danger: rgb(252, 57, 57);

$dftNetColor: #3a455c;
$fbColor: #2153bd;
$twColor: #00acee;
$ghColor: #ffffff;
$lnkInColor: #0e76a8;
$slackColor: #811df3;
