.panelTheme {
  background-color: $reactBgColorLight;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
}

.lateralBar {
  text-align: center;
  padding: 10px;
  background-color: $reactBgColor;
  min-height: 100vh;
  min-width: 20vw;
  color: $whiteText;
  border-right: 2px solid $backgroundColor1;
}

.activeLaterlaBar {
  background-color: $reactBgColorLight !important;
  color: $reactBgColor !important;
}

.reactBg {
  background-color: $backgroundColor1;
  border-radius: 5px;
}

.navLink {
  color: $whiteText;
  text-decoration: none;
  &:hover {
    transition-duration: 0.5s;
    color: $gray;
  }
}

.selectedWrapper {
  padding: 5vw;
  // display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
