.panelTheme {
  background-color: $reactBgColorLight;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
}

.btnLateralNav {
  color: $whiteText !important;
}

.lateralBar {
  text-align: center;
  padding: 10px;
  background-color: $reactBgColor;
  min-height: 100vh;
  min-width: 20vw;
  color: $whiteText;
  border-right: 2px solid $backgroundColor1;
}

.navLink {
  color: $whiteText;
  text-decoration: none;
  &:hover {
    transition-duration: 0.5s;
    color: $gray;
  }
}

.text-center {
  text-align: center !important;
}

.activeLaterlaBar {
  background-color: $reactBgColorLight !important;
  color: $reactBgColor !important;
}

.selectedWrapper {
  padding: 15px;
}

.itsAPointer {
  cursor: pointer;
}
