.defaultNetColor {
  color: $dftNetColor;
}
.facebookColor {
  color: $fbColor;
}
.twitterColor {
  color: $twColor;
}
.githubColor {
  color: $ghColor;
}
.linkedinColor {
  color: $lnkInColor;
}
.slackColor {
  color: $slackColor;
}
