.textWhite {
  color: $whiteText !important;
}
.text-center {
  text-align: center !important;
}
.textStart {
  text-align: start;
}
.textEnd {
  text-align: end;
}

.bold {
  font-weight: bold !important;
}

.green {
  color: green;
}
.red {
  color: red;
}

.small {
  font-size: 12px;
  color: $smallColor;
  background-color: $danger;
  border-radius: 4px;
  padding: 1px;
}
.alertRed {
  @extend .small;
  color: $whiteText;
  font-weight: bold;
}
