@import "./base/settings";
@import "./base/base";

@import "./components/loginReg";
@import "./components/DefaultPaper";
@import "./components/panel";
@import "./components/socialNetworks";
@import "./components/IndividualSocial";
@import "./components/textColorAlign";
@import "./components/marginsPaddings";
